$primary: #2e3538; //$primary: #30cee1; gammla #4aa7de nygammla
$secondary: #f7f9fa;
$detail: #fcab54;
$lightDetail: #fccab1;
$darkDetail: #b63d00;
$text-color: #333333;
$orange: #fe9d01;
$darkOrange: #ca7d00;
$offWhite: #f0f0ee;
$offWhite2: #f7f9fa;
$font-size-base: 16px;
$spacing-unit: 8px;
$gradient-background: radial-gradient(
  circle,
  rgba(31, 0, 145, 1) 1%,
  rgba(11, 0, 51, 1) 100%
);
$background-color: rgb(20, 0, 90);

// Typography Sizes
$font-size-h1: 4rem; // 40px
$font-size-h2: 2rem; // 32px
$font-size-h3: 1.75rem; // 28px
$font-size-h4: 1.5rem; // 24px
$font-size-p: 1rem; // 16px

$font-size-mobile-h1: 32px; // Mobile font size for h1
$font-size-mobile-h2: 28px; // Mobile font size for h1
$font-size-mobile-h3: 22px; // Mobile font size for h3
$font-size-mobile-h4: 20px;

.button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  transition: background-color 200ms linear;
  cursor: pointer;

  &:hover {
    background-color: rgb(231, 231, 231);
  }
}

h1 {
  font-size: $font-size-h1;
  font-weight: 600;
  margin-bottom: $spacing-unit * 2;
}
h2 {
  font-size: $font-size-h2;
  font-weight: 600;
  margin-bottom: $spacing-unit * 1.5;
}
h3 {
  font-size: $font-size-h3;
  margin-bottom: $spacing-unit * 1.25;
}
h4 {
  font-size: $font-size-h4;
  margin-bottom: $spacing-unit * 1;
}
p,
span {
  font-family: "Blinker", sans-serif;
  font-size: $font-size-p;
  font-size: 24px;
}
h1,
h2,
h3,
h4 {
  font-family: "Lexend Deca", sans-serif;
}

@media all and (min-width: 0px) and (max-width: 768px) {
  h1 {
    font-size: $font-size-mobile-h1;
    font-weight: 600;
    margin-bottom: $spacing-unit * 2;
  }
  h2 {
    font-size: $font-size-mobile-h2;
    font-weight: 600;
    margin-bottom: $spacing-unit * 1.5;
  }
  h3 {
    font-size: $font-size-mobile-h3;
    margin-bottom: $spacing-unit * 1.25;
  }
  h4 {
    font-size: $font-size-mobile-h4;
    margin-bottom: $spacing-unit * 1;
  }
}
